<% title "Growth Marketing Ventures - Experts in Growth Marketing" %>
<% meta_tag :description, "Snow Schoolers is an online platform for private ski & snowboard lessons. Easily browse profiles & reviews, then book a private ski or snowboard lesson  with our fleet of expert, certified instructors. We collaborate closely with each of our ski area partners to ensure a consistent brand experience while maximizing the financial return of ski school operations to the mountain." %>

    <section id="header-creative" class="top-section">
        <ul id="slider" class="mc-cycle" style="display: block; height: 100%; width: 100%;">
            <div class="mc-image bg-photo" title="background photo" style="background-image: url('https://images.pexels.com/photos/196642/pexels-photo-196642.jpeg'); height: 100%; width: 100%;" data-href=""
            </div>
        </ul>

        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading" class="shadow-box-highlight">Delivering growth through innovation, creativity, and collaboration.<br>
                <span class="smaller-text"></span>
                </h1>
                <h4>
                    <!-- <a href="/lessons/new" class="btn btn-primary btn-xl page-scroll">Book a Private Lesson</a> -->
                </h4>
                <!-- <p class="shadow-box-highlight hero-subtext">Say goodbye to the morning hassle. Book a certified instructor online, and we'll meet you on the mountain!</p>             -->
                <div class="shadow-box-highlight">
                    <p class="welcome-subheader"> Our digital marketing experts help you craft the right message for the right customer at the right time. 
                    </p>
                    <span class="welome-ctas">
                    </span>
                    <a href="#contact-us" class="btn btn-primary btn-xl page-scroll">Get Started Today</a>
                </div>
                <hr class="subheader-divider">
            </div>
        </div>
    </section>


    <section id="why-snowschoolers" class="pricing-section">
        <div class="container">
            <div class="row about-us">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading how-it-works navy-text">Our Services</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h2 id="why-snowschoolers-subheader" class="center navy-text">Growth solves all known problems in business.<br> Let us help <b>accelerate your growth</b> in customer acquistion today.
                </h2>
              <hr class="deposit-hr-navy">
            </div>


          <div class="services-section col-md-3">
              <h2 class="white-text green-shadow-box-highlight center">Pay-per-click Advertising</h2>
              <p class="services-blurb">PPC is critical for any online business. Ensure that your portfolio of online acquisition channels delivers the maximum return on investment. We have 7+ years experience managing direct response campaigns across all major platforms, including Google, Facebook, and beyond.</p>

              <!-- <p class=""> There is a reason that over 5 million advertisers use both Google Adwords and Facebook ads - they provide massive reach and precise targeting. At Partners in Growth, we have 7+ years experience managing Adwords and Facebook campaigns. However, a robust paid acquisition program doesn't stop there. From Twitter and Snapchat to Pinterest and Quora, our team has hands-on experience managing dozens of PPC platforms, covering every corner of the internet. -->
              <ul class="services-list">
                <li> </li>
                <img src="https://s3-us-west-1.amazonaws.com/growth-marketing-ventures/adwords-logo.jpg" class="channel-image"/>
                </li>
                <li> </li>
                <img src="https://s3-us-west-1.amazonaws.com/growth-marketing-ventures/fb-ads-logo.png" class="channel-image"/>
                <li> </li>
                <img src="https://s3-us-west-1.amazonaws.com/growth-marketing-ventures/lnkd-logo.png" class="channel-image"/>
              </ul>
          </div>
          <div class="services-section col-md-3">
              <h2 class="white-text green-shadow-box-highlight center">Conversion Optimization</h2>
              <p class="services-blurb">The first step to optimizing a conversion funnel is to understand where the leaks are. We'll accurately track and measure each step of the funnel, and help optimize the flow from landing page to purchase, using 3rd party A/B testing tools as appropriate.</p>

              <ul class="services-list">
                <li></li>
                <img src="https://s3-us-west-1.amazonaws.com/growth-marketing-ventures/ga-logo.png" class="channel-image"/>
                <li> </li>
                <img src="https://s3-us-west-1.amazonaws.com/growth-marketing-ventures/google-optimize-logo.png" class="channel-image"/>
                </li>
                <li> </li>
                <img src="https://s3-us-west-1.amazonaws.com/growth-marketing-ventures/optimizely-logo.png" class="channel-image image-no-bg"/>
              </ul>
          </div>

          <div class="services-section col-md-3">
              <h2 class="white-text green-shadow-box-highlight center">Mobile App Analytics</h2>
              <p class="services-blurb"> In a world in which 75% of users never open an app twice, it's imperative to move beyond "cost per install" strategy. Leverage our expertise with in-app event-tracking and deep-linking on both Android and iOS in order to fully understand and maximize the lifetime value of your app users.</p>

              <ul class="services-list">
                <li> <!-- Firebase Analytics -->
                  <a href="https://firebase.google.com/products/analytics/" target="_blank">
                    <img src="https://s3-us-west-1.amazonaws.com/growth-marketing-ventures/firebase-logo.png" class="channel-image"/>
                  </a>
                </li>
                <li></li>
                <img src="https://s3-us-west-1.amazonaws.com/growth-marketing-ventures/flurry-logo.png" class="channel-image"/>
                <li></li>
                <img src="https://s3-us-west-1.amazonaws.com/growth-marketing-ventures/new-relic.png" class="channel-image new-relic"/>
              </ul>
          </div>

          <div class="services-section col-md-3">
              <h2 class="white-text green-shadow-box-highlight center">Website Design & Development</h2>
              <p class="services-blurb"> 
                As full-stack Ruby on Rails developers, we can also help you design and build new experiences for your users. From custom referral programs to community forums, we can scope your project, draft feature requirements, design wireframes, and build and deploy to your existing codebase.
              </p>

              <ul class="services-list">                
                <img src="https://s3-us-west-1.amazonaws.com/growth-marketing-ventures/rails-logo.png" class="channel-image image-no-bg"/>
                </li>
                <li></li>
                <img src="https://s3-us-west-1.amazonaws.com/growth-marketing-ventures/bootstrap-logo.jpg" class="channel-image"/>
                <li></li>
                <img src="https://s3-us-west-1.amazonaws.com/growth-marketing-ventures/postgresql-logo.png" class="channel-image"/>
              </ul>
          </div>                                                     
   <!-- 
              <p class=""> 
                The most profitable traffic you can acquire is free. Search engine optimization (SEO) is the process of ensuring that the high quality content on your site is discoverable on search engines like Google, Bing, and Yahoo. SEO has evolved light years in the last two decades, but will always require both on-page (technical) and off-page (link-building, reputation) efforts.
              </p>           
            </div> -->
            
            <hr class="deposit-hr-navy">
              
          </div>
      </div>
  </section>

  <section id="about-us" class="bg-primary">
      <div class="container">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading how-it-works white-text">About the Team</h2>
        </div>

        <div class="col-md-4">
          <h3 class="center">            
            <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAXGAAAAJGQwOTdmMjI0LTA4YjMtNGU1ZC1hZTZhLThjZGUyZDA2MWVhNA.jpg" class="img-circle">
          </h3>
          <h3 class="center">
            <a href="https://www.linkedin.com/in/brianbensch/" target="_blank" class="fa fa-linkedin white-text"></a>
            <a href="https://twitter.com/bbensch" target="_blank" class="fa fa-twitter white-text"></a>
            <a href="github.com/bbensch09" target="_blank" class="fa fa-github white-text"></a>
          </h3>
        </div>
        <div class="col-md-8">
          <h2 class="white-text about-name">Brian Bensch <span class="smaller-text">
          <span class="hidden-unless-desktop"> - </span>  
          <br class="hidden-unless-mobile"> Principal Consultant</h2>
          <p class="white-text">
            For 5 years as an Analytical Lead at Google, Brian helped large retail and technology brands (with annual budgets of $500K to $50M) to optimize their digital marketing programs and take full advantage of Google's portfolio of advertising products and measurement tools. Incapable of ignoring the entrepreneurial fever in San Francisco, he joined the startup Metromile in 2015 as a growth analyst, overseeing all paid and non-paid acquisition channels. From there, Brian learned full-stack web development at Dev Bootcamp and went on to co-found <a href="https://www.snowschoolers.com" class="white-link" target="_blank">SnowSchoolers.com</a>, an online marketplace for affordable ski and snowboard lessons. As a growth hacker and consultant, Brian now helps companies big and small with their digital acquisition efforts, landing page design and development, and overall marketing strategy.
          </p>
        </div>


      </div>
  </section>
  
  <section id="our-clients" class="bg-white">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading how-it-works navy-text">Our Clients</h2>
        </div>
        <div class="col-md-6">
          <div class="pull-right client-container">
          <a href="https://www.pandiahealth.com/?invite=brianbensch" class="pull-right">
            <img src="https://www.pandiahealth.com/facebook-home.png" class="pandia client-image">
          <h4 class="center italic client-tagline">
            The easiest way to get birth control.
          </h4>
          </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="pull-left client-container">
          <a href="https://proscan.com/" class="pull-left">
            <img src="https://s3-us-west-1.amazonaws.com/growth-marketing-ventures/proscan-logo.jpg" class="proscan client-image">
          <h4 class="center italic client-tagline">
            A medical imaging company built on technology & innovation.
          </h4>
          </a>
          </div>
        </div>        
  </section>

  <section class="bg-primary hidden">
      <div class="container">
        <h1 class="center white-text">What We're Reading</h1>
        <% @articles.each do |article| %>
        <div class="col-md-3">
            <h3>
                <%= link_to article.title, article.url, class: "article-link text-white" %>                
            </h3>
            <p class="snippet text-white">
                <%= article.snippet %>
            </p>
        </div>
        <% end %>
      </div>
  </section>

  
    <!-- %= render partial: 'prices' %> -->
    <section class="bg-primary" id="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xs12 text-center">
                    <h2 class="center white-text">
                      Value-based Pricing
                    </h2>
                    <p class="white-text">
                      Traditional agencies charge a fixed (~10%) percent of ad spend, or have monthly retainers in excess of $15,000. We know what it's like to be an early stage startup and one size never fits all, so our pricing is customized for each client and based on value delivered.
                    </p>
                    <hr class="light text-center">
                    <h2 class="section-heading white-text">Building a business is hard. <br> You don't need to grow it alone.</h2>
                    <!-- <a href="/lessons/new" class="btn btn-primary btn-xl page-scroll">Book your lesson now</a> -->
                    <hr>
                    <h3 class="beta-sign-up-offer white-text" id="subscribe">
                         <!-- Not ready to book today? <br> We are always expanding to new resorts, and occasionally giving away free schwag to lucky customers. Enter your email below to subscribe for updates. -->
                     Wnat to learn more or request a quote? 
                     <br>
                     Enter your information below to request your free 30-min consultation.

                    </h3>
                    <div class="col-md-12 beta_user-sign-up">
                        <%= form_for(@beta_user = BetaUser.new) do |f| %>
                          <% if @beta_user.errors.any? %>
                            <div id="error_explanation">
                              <h2><%= pluralize(@beta_user.errors.count, "error") %> prohibited this beta_user from being saved:</h2>
                              <ul>
                              <% @beta_user.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                              <% end %>
                              </ul>
                            </div>
                          <% end %>
                          <div class="email-input">
                            <div class="">
                              <%= f.text_field :first_name, autofocus: false, class:"black-text form-control beta-sign-up", placeholder:"First Name", required: true  %>
                            </div>
                            <div class="">
                              <%= f.text_field :last_name, autofocus: false, class:"black-text form-control beta-sign-up", placeholder:"Last Name", required: true  %>
                            </div>
                            <div class="">
                              <%= f.email_field :email, autofocus: false, class:"black-text form-control beta-sign-up", placeholder:"Email", required: true  %>
                            </div>
                            <div class="">
                              <%= f.text_field :company, autofocus: false, class:"black-text form-control beta-sign-up", placeholder:"Company", required: true  %>
                            </div>
                            <div class="">
                              <%= f.text_field :phone_number, autofocus: false, class:"black-text form-control beta-sign-up", placeholder:"Phone Number", required: false  %>
                            </div>
                            <div class="">
                              <%= f.text_area :comments, autofocus: false, class:"black-text form-control beta-sign-up", placeholder:"Tell us a bit about the challenge(s) you're facing today.", size: "30x10",  required: false  %>
                            </div>
                          </div>
                          <div class="lead-cta">
                            <%= f.submit "Get in Touch", class:"btn btn-success btn-lg page-scroll" %>
                          </div>
                          <!-- <h3 class="offer-limitations">*First 100 sign ups receive 20% off their first lesson.</h3> -->
                            <!-- <h3 class="text-white">Instructors at Snow Schoolers loving sharing their passion for the mountain, and don't care to see your wallet drained. </h3> -->
                          </div>
                        <% end %>
                    </div>
                    <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-2 text-center">
                            <i class="fa fa-phone fa-3x sr-contact white-text"></i>
                            <p class="white-text">(415)900-GROW</p> <!-- 415-900-4769 -->
                        </div>
                        <div class="col-lg-4 text-center">
                            <i class="fa fa-envelope-o fa-3x sr-contact white-text"></i>
                            <p><a href="mailto:info@growthmarketingventures.com" class="white-text" target="_blank">info@growthmarketingventures.com</a></p>
                        </div>
                    </div>
        </div>
                </div>
            </div>
        </div>
    </section>
    

<script src="//load.sumome.com/" data-sumo-site-id="09ec8023d4f0b2a121da1c51624191fd073e40be2bacc048cde6820d68d713cc" async="async"></script>
