<% title "Partners in Growth - Experts in Growth Marketing" %>
<% meta_tag :description, "Snow Schoolers is an online platform for private ski & snowboard lessons. Easily browse profiles & reviews, then book a private ski or snowboard lesson  with our fleet of expert, certified instructors. We collaborate closely with each of our ski area partners to ensure a consistent brand experience while maximizing the financial return of ski school operations to the mountain." %>

    <section id="header-creative" class="top-section">
        <ul id="slider" class="mc-cycle" style="display: block; height: 100%; width: 100%;">
            <div class="mc-image bg-photo" title="background photo" style="background-image: url('https://images.pexels.com/photos/196642/pexels-photo-196642.jpeg'); height: 100%; width: 100%;" data-href=""
            </div>
        </ul>

        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading" class="shadow-box-highlight">Delivering growth through innovation, creativity, and collaboration.<br>
                <span class="smaller-text"></span>
                </h1>
                <h4>
                    <!-- <a href="/lessons/new" class="btn btn-primary btn-xl page-scroll">Book a Private Lesson</a> -->
                </h4>
                <!-- <p class="shadow-box-highlight hero-subtext">Say goodbye to the morning hassle. Book a certified instructor online, and we'll meet you on the mountain!</p>             -->
                <div class="shadow-box-highlight">
                    <p class="welcome-subheader"> Our digital marketing experts help you craft the right message for the right customer at the right time. 
                    </p>
                    <span class="welome-ctas">
                    </span>
                    <a href="#contact-us" class="btn btn-primary btn-xl page-scroll">Get Started Today</a>
                </div>
                <hr class="subheader-divider">
            </div>
        </div>
    </section>


    <section id="why-snowschoolers" class="pricing-section">
        <div class="container">
            <div class="row about-us">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading how-it-works navy-text">Our Services</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h2 id="why-snowschoolers-subheader" class="center navy-text">Growth solves all known problems in business.<br> Let us help <b>accelerate your growth</b> in customer acquistion today.
                </h2>
              <hr class="deposit-hr-navy">
            </div>
            <div class="col-md-3">
                <h2 class="navy-text shadow-box-highlight center"><b>Pay-per-click Advertising</b></h2>
              <p class=""> There is a reason that over 5 million advertisers use both Google Adwords and Facebook ads - they provide massive reach and precise targeting. At Partners in Growth, we have over 10 years collective experience managing Adwords and Facebook campaigns. However, a robust paid acquisition program doesn't stop there. From Twitter and Snapchat to Pinterest and Quora, our team has hands-on experience managing dozens of PPC platforms, covering every corner of the internet.
              </p>           
            </div>
            <div class="col-md-3">
                <h2 class="navy-text shadow-box-highlight center"><b>Conversion Optimization</b></h2>
              <p class=""> The first step to optimizing a conversion funnel is to understand where the leaks are. With over 7 years experience with Google Analytics, we'll first ensure that every step in the funnel is being accurately tracked and measured, and then craft a prioritized testing schedule to improve each step from landing page to checkout.
              </p>           
            </div>
            <div class="col-md-3">
                <h2 class="navy-text shadow-box-highlight center"><b>Mobile App Analytics</b></h2>
              <p class="">
                In a world in which there are 50,000 new apps every month and 75% of users never open an app again after the first time they used it, it is imperative for any business with a mobile application to move beyond "cost per install" strategy. With in-app conversion tracking and deep-linking now possible on both Android and iOS, we can help you to both understand and maximize the lifetime value of your app users.
              </p>           
            </div>
            <div class="col-md-3">
                <h2 class="navy-text shadow-box-highlight center"><b>Search Engine Optimization</b></h2>
              <p class=""> 
                The most profitable traffic you can acquire is free. Search engine optimization (SEO) is the process of ensuring that the high quality content on your site is discoverable on search engines like Google, Bing, and Yahoo. SEO has evolved light years in the last two decades, but will always require both on-page (technical) and off-page (link-building, reputation) efforts.
              </p>           
            </div>
            
            <hr class="deposit-hr-navy">
              
          </div>
      </div>
  </section>

  <section class="bg-primary">
      <div class="container">
        <h1 class="center">News that Matters</h1>
        <% @articles.each do |article| %>
        <div class="col-md-3">
            <h3>
                <%= link_to article.title, article.url, class: "article-link text-white" %>                
            </h3>
            <p class="snippet text-white">
                <%= article.snippet %>
            </p>
        </div>
        <% end %>
      </div>
  </section>
  <section class="bg-white">
      <div class="container">
        <h1 class="center">Our Clients</h1>
      </div>
  </section>
  
    <!-- %= render partial: 'prices' %> -->
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xs12 text-center">
                    <h2 class="section-heading">Running a business is hard. <br> You don't need to grow it alone.</h2>
                    <!-- <a href="/lessons/new" class="btn btn-primary btn-xl page-scroll">Book your lesson now</a> -->
                    <hr>
                    <h3 class="beta-sign-up-offer" id="subscribe">
                         <!-- Not ready to book today? <br> We are always expanding to new resorts, and occasionally giving away free schwag to lucky customers. Enter your email below to subscribe for updates. -->
                     Interested in learning more? Enter your information below and we'd love to be in touch.

                    </h3>
                    <hr class="light text-center">
                    <div class="col-md-12 beta_user-sign-up">
                        <%= form_for(@beta_user = BetaUser.new) do |f| %>
                          <% if @beta_user.errors.any? %>
                            <div id="error_explanation">
                              <h2><%= pluralize(@beta_user.errors.count, "error") %> prohibited this beta_user from being saved:</h2>
                              <ul>
                              <% @beta_user.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                              <% end %>
                              </ul>
                            </div>
                          <% end %>
                          <div class="email-input">
                            <%= f.email_field :email, autofocus: false, class:"black-text form-control beta-sign-up", placeholder:"Enter Email", required: true  %>
                          <%= f.submit "Learn More", class:"btn btn-success btn-lg page-scroll" %>
                          <!-- <h3 class="offer-limitations">*First 100 sign ups receive 20% off their first lesson.</h3> -->
                            <!-- <h3 class="text-white">Instructors at Snow Schoolers loving sharing their passion for the mountain, and don't care to see your wallet drained. </h3> -->
                          </div>
                        <% end %>
                    </div>
                    <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-2 text-center">
                            <i class="fa fa-phone fa-3x sr-contact"></i>
                            <p class="white-text">(415)430-GROW</p>
                        </div>
                        <div class="col-lg-4 text-center">
                            <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                            <p><a href="mailto:info@snowschoolers.com" class="white-text" target="_blank">info@growth-marketing-partners.com</a></p>
                        </div>
                    </div>
        </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <section id="how-it-works">
        <div class="container">
            <div class="row how-it-works">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading how-it-works navy-text">How SnowSchoolers Works</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <h3 class="navy-text">Request a Lesson</h3>
                        <img src="assets/book-lesson.png" alt="book-lesson" class="how-it-works-images">
                        <p class="navy-text">Get started by selecting your sport, mountain, date, and time of lesson.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <h3 class="navy-text">Lesson Confirmation</h3>
                        <img src="assets/accept-request.png" alt="accept-request" class="how-it-works-images">
                        <p class="navy-text">When your reservation is booked, our automated system begins reaching out our instructors to determine the best available instructor. 80% of instructor assignments are confirmed within 30 minutes.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <h3 class="navy-text">Learn from a Pro</h3>
                        <img src="assets/bearvalley-snowbomb.png" alt="snowboarder" class="how-it-works-images">
                        <p class="navy-text">Prior to your lesson, your instructor will contact you to confirm the meeting location and time. </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <h3 class="navy-text">Share the Love</h3>
                        <img src="assets/review-instructor.png" alt="accept-request" class="how-it-works-images">
                        <p class="navy-text">After your lesson, you'll receive feedback from your instructor about your progress, and we also ask that you rate the quality of your lesson experience.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
          <hr class="deposit-hr-navy">
        </div>
        <div class="container text-center">
            <div class="call-to-action">
                <h2 class="navy-text shadow-box-highlight center">Sign up for free and book your first lesson today!</h2>
                   <a href="/lessons/new" class="btn btn-primary btn-xl page-scroll">Get Started</a>
            </div>
        </div>
    </section>
<section class="bg-primary" id="blog">
    <div class="row blog-promo-container">
        <h2 class="center white-text">Hungry for more info?</h2>
        <h2 class="center">
            Check out the latest from our <a href="/blog/latest" class="green-link">blog!</a>
        </h2>
        <hr class="hr-white">
    </div>

    <div class="col-md-12">
        <h3 class="center">
            <a href="lessons/new" class="btn btn-primary btn-xl page-scroll powder-btn">Book a Lesson Today</a>
        </h3>
    </div>

</section> -->

<script src="//load.sumome.com/" data-sumo-site-id="a1fbda8d7365cdee08d4a5985659bb680581b2dd4281ce27f0f246ffaa655693" async="async"></script>
